.mf-breadcrumb {
  background: #ffffff;
  padding: 14px 0 0px;
}
.mf-breadcrumb ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  align-items: center;
}
.mf-breadcrumb li:first-child {
  padding-left: 0px;
}
.mf-breadcrumb li {
  padding: 0px 14px;
  list-style: none;
  position: relative;
  text-align: left;
  color: #FF6800;
  font-size: 14px;
}
.mf-breadcrumb li a {
  color: #777777;
  font-weight: 400;
}
.mf-breadcrumb .fa {
  color: #777777;
  position: absolute;
  top: -3px;
  right: 8px;
  font-size: 14px;
}

