/* Breadcrumb.css */

.breadcrumb {

  align-items: center;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  margin-left: 15rem;
  margin-top: 3.66rem;
}

.breadcrumb span {
  margin-right: 5px;
  cursor: pointer;
}

.separator {
  margin: 0 5px;
  color: #999;
}

@media screen and (max-width: 880px) {
  .breadcrumb {
    width: 100%;
    margin: 0;
    font-size: 14px;
  }
}
